
:root {
  --base: #f9f2e8;
  --main: #dd97aa;
  --text: #c64366;
  --font-family: serif;

}

/* Global Styles */
body {
  background-color: var(--base);
  color: var(--text);
  font-family: var(--font-family);
}

.btn {
  background-color: var(--main);
  color: var(--base);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.title {
  color:var(--main);
  font-size:25px;
}

/* Navigation Styles */
.nav {
  background-color: var(--base);
  border-bottom: solid var(--main) 5px;
  padding: 1rem;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

/* Product Styles */
.product {
  background-color: var(--base);
  color: var(--text);
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 1rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  border-radius:5px;
  width:10rem;
  height:10rem;
  object-fit:cover;
}

.candy {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}