
:root {
  --base: #f9f2e8;
  --main: #dd97aa;
  --mainsoft: #efc2ce;
  --dark_base: #efe3d3;
  --text: #c64366;
  --ombre: linear-gradient(#f9f2e8, #f4e8ce);
  --font-family: serif;
  
}

/* Scrollbar */

html{
  scrollbar-color: var(--main) var(--base);
  scrollbar-width: 4px;
}

/* Legacy Scrollbar */
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--text);
}

html::-webkit-scrollbar-thumb {
  background: var(--main);
  width:4px;
  border-radius:4px;
}

html::-webkit-scrollbar-track {
  background: var(--base);
}


/* Global Styles */
/* #f1dce2*/
body {
  background: var(--base);
  color: var(--text);
  font-family: var(--font-family);
  
}

.footer {
  background: var(--main);
  color: var(--base);
  text-align: center;
  padding: 5px;
  align-items: center;
  display: flex;

}

.link{
  color: var(--base);
}
.link:active, .link:hover{
  color: var(--text);
}

.logo{
  background: url(/wip_logo.png);
  min-height:150px;
  min-width:250px;
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;

}

.dashed-border{
  border: dashed 2px var(--main);
}

/* buttons */
.btn {
  background-color: var(--main);
  color: var(--base);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;

}

.btn:hover {
  background-color: var(--base);
  color: var(--main);
  cursor: pointer;
}

.btn-dark {
  --bs-btn-active-bg: var(--text);          
  --bs-btn-active-border-color: var(--text); 
  --bs-btn-active-color: var(--base);        
}

.btn-disabled{
  background:var(--mainsoft);
  color: var(--base);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.title {
  color:var(--main);
  font-size:25px;
}

/* Navigation Styles */
.nav {
  background-color: var(--base);
  border-bottom: solid var(--main) 2px;
  padding: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.drop{
  background:var(--dark_base);
  border:none;
  z-index:2;
}
.dropItem{
  color:var(--text);
}
.dropItem:hover{
  background:var(--base);
  color:var(--main);
}

.dropItem:active{
  background:var(--dark_base);
  color:var(--text);
}

.carousel{
  color: var(--main);
}

.carousel-image{
  width:100%;
  height:45vh;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-color: var(--main);
    background-size: 100%, 100%;
    border-radius: 50%;
}

.carousel-header{
  height:45vh;
}
/* Product Styles */
.product {
  background-color: var(--base);
  color: var(--text);
  border: dashed var(--base) 2px;
  padding: 5px;
  border-radius: 5px;
  font-size:12px;
  margin: 3px;
  width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: border 0.2s ease-in-out;

}

.product-img {
  border-radius:5px;
  width:10rem;
  height:10rem;
  object-fit:cover;
}

.product:hover{
  border: dashed var(--main) 2px;
}

.candy {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

/* Product Page Styles*/

.image-preview{
  border-radius:5px;
  width:5rem;
  height:5rem;
  object-fit:cover;
  border: solid var(--base) 2px;
  transition: border 0.2s ease-in-out;
  opacity: 0.5
}

.image-preview:hover{
  border: solid var(--main) 2px;
  opacity: 1;
}

.focal-image {
  width: 40rem;
  height: 40rem;
  background-color: var(--base);
}